<div class="row">
  <div class="span6 offset3">
    <%= form_for [:admin, @subject] do  |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :total_questions %>
      <%= f.text_field :total_questions %>

      <%= f.label :time_limit %>
      <%= text_field_tag "subject[time_limit]", (@subject.try(:time_limit) || 0)/ 60 %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>