<li><%= link_to subject.subject, subject %>
    <%= if signed_in? && current_user.admin? 
    	  link_to "| Edit",  edit_subject_path(subject) 
    	end %>

    <%= if signed_in? && current_user.admin? 
    	  link_to "| Delete", subject, method: :delete, 
            data: { confirm: "You sure?" } 
         end
    %>        
</li>