<%= form_for [:admin, @question] do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <%= f.label "Subject" %>
  <%= collection_select(:question, :subject_id, Subject.all, :id, :subject) %>
  <%= f.label "Level" %>
  <%= collection_select(:question, :level_id, Level.all, :id, :level) %>
  <%= f.label :question %>
  <%= f.text_area :question %>
  <div class="row" id="answers-list">
    <%= f.fields_for :answers do |answer_form| %>
      <label class="checkbox">
        <%= answer_form.hidden_field :id %> 
        <%= answer_form.check_box :correct_answer %>
        <%= answer_form.text_field :answer %>
      </label>
    <% end %>
  </div>
  <div class="row">
    <label class="btn offset2" id="add-answer" >Add answer!</label>
  </div>     
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>