<div class="row">
  <div class="span6 offset3">
    <%= link_to @question.question, [:admin, @question] %>
  </div>
  <div class="span6 offset3">
    <ol>
      <%= render partial: "admin/shared/answer", collection: @question.answers %>
    </ol>
  </div>
</div>

