<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, [:admin, user] %>
  <% if current_admin %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
