<li>
<%= answers_sheet.user.name %><br/>
<strong>
  <% if answers_sheet.status.to_i == 2 %>
  	   result: <%= answers_sheet.result %>/30
  <% else %>
  	   result is under assertion 
  	   <%= 
  	     now = Time.now.to_i
         time_passed = now - answers_sheet.created_at.to_i
  	     link_to  "Edit", edit_answers_sheet_path(answers_sheet) if 1800 - time_passed > 0
  	   %>
  <% end %>
</strong><br/>
at: <i><%= answers_sheet.updated_at %></i>
</li>