<div class="row">
  <div class="span6 offset3">
    question.question    
  </div>
  <div class="span6 offset3">
    <ul>
      <%= render partial: "answer", collection: question.answers %>
    </ul>
  </div>
</div>
