<div class="row">
  <div class="span6 offset3">
    <%= link_to question.question, [:admin, question] %>
    <%= link_to " | Edit", edit_admin_question_path(question) %>
    <%= link_to " | Delete", [:admin, question], method: :delete, 
      data: { confirm: "You sure?" } %>
  </div>
  <div class="span6 offset3">
    <ol>
      <%= render partial: "admin/shared/answer", collection: question.answers %>
    </ol>
  </div>
</div>

